// Fonts
@font-face {
    font-family: 'Contrail One';
    src: url('/css/CodeCharm/fonts/contrail-one.eot');
    src: url('/css/CodeCharm/fonts/contrail-one.woff2') format('woff2'),url('/css/CodeCharm/fonts/contrail-one.woff') format('woff'),url('/css/CodeCharm/fonts/contrail-one.ttf') format('truetype'),url('/css/CodeCharm/fonts/contrail-one.svg#contrail-one') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
}
