@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var homePage =  Model.Content.AncestorsOrSelf(1).First();
}

@if (Model.Content.Ancestors().Any())
{
    foreach (var page in Model.Content.Ancestors().OrderBy(c => c.Level)) {
        if(page.Id != homePage.Id){
            <a href="@page.Url">@page.Name</a><span class='sep'>&nbsp;<i class='fa fa-angle-right'></i>&nbsp;</span>
        }
    }
    <span class="sel">@Model.Content.Name</span>
}
