@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@{
    var relatedLinks = Model.Content.GetPropertyValue<RelatedLinks>("sidebarRelatedLinks");
}

@section SidebarZone
{
    @if(relatedLinks != null)
    {
        <section>
            @Umbraco.Field("sidebarText")
        </section>
        <section>
            @foreach (var relatedLink in relatedLinks) {
                var linkTarget = (relatedLink.NewWindow) ? "_blank" : null;
                <text>
                    <div>
                        <a href="@relatedLink.Link" target="@linkTarget">@relatedLink.Caption</a>
                    </div>
                </text>
            }
        </section>
    }
}
