@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    @await Html.PartialAsync(Url.Content("~/Views/Partials/Bootstrap/head.cshtml"))
    @await Html.PartialAsync(Url.Content("~/Views/Partials/head/site/title.cshtml"))
    <link rel="stylesheet" href="@Url.Content("~/css/myblockgridlayout.css")" />
    @RenderSection("headLast", false)
</head>
<body>
    @RenderBody()
    @await Html.PartialAsync(Url.Content("~/Views/Partials/Bootstrap/BodyScript.cshtml"))
</body>
</html>