@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync(Url.Content("~/Views/Partials/Bootstrap/Freelancer/head.cshtml"))
</head>
<body id="page-top">
    @await Html.PartialAsync(Url.Content("~/Views/Partials/Bootstrap/Freelancer/Navigation.cshtml"))
    @RenderBody()
    @await Html.PartialAsync(Url.Content("~/Views/Partials/Bootstrap/Freelancer/Footer.cshtml"))
    @await Html.PartialAsync(Url.Content("~/Views/Partials/Bootstrap/Freelancer/Modals.cshtml"))
    @await Html.PartialAsync(Url.Content("~/Views/Partials/Bootstrap/Core.cshtml"))
    @await Html.PartialAsync(Url.Content("~/Views/Partials/Bootstrap/Freelancer/scripts.cshtml"))
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    @* <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> *@
</body>
</html>
