@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("Bootstrap/Freelancer/head")
</head>
<body id="page-top">
    @await Html.PartialAsync("Bootstrap/Freelancer/Navigation")
    @RenderBody()
    @await Html.PartialAsync("Bootstrap/Freelancer/Footer")
    @await Html.PartialAsync("Bootstrap/Freelancer/Modals")
    @await Html.PartialAsync("Bootstrap/Core")
    @await Html.PartialAsync("Bootstrap/Freelancer/scripts")
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    @* <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> *@
</body>
</html>
