@* 20231218 *@
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "_CodeCharmMasterLayoutTemplate.cshtml";
}

@section PageTitleZone
{
    @Html.Raw(Umbraco.Field("errorHeading"))
}

<article>
    @Umbraco.Field("errorMessage")
</article>

<article>
    <ul>
        @{
        DateTimeOffset serverNow = DateTime.Now;
        }
        <li>@serverNow</li>
        <li><a href="@Request.QueryString["aspxerrorpath"]">GET again</a></li>
    </ul>
</article>