@inherits UmbracoViewPage

<span id="Copyright" class="Copyright">&copy;Copyright&nbsp;@DateTime.Today.Year by Alan McBee. All rights reserved.</span>
@*<span id="Sitemap"><a href="#" class="Sitemap">Sitemap</a></span>
    <span id="Privacy"><a href="#" class="Privacy">Read about privacy</a></span>
    <span id="Terms"><a href="#" class="Terms">Read our terms</a></span>
    <span id="Cart"></span>*@
@*<span id="Login"><span class="signInOut"><a href="/umbraco#/login?check=false" class="signinoutButton">login</a></span></span>*@
@*<span id="User"><span class="CurrentUserName">@User.Identity.GetUserName()</span></span>*@
