$academy-color:             #FFD700;        // Gold
$academy-contrast:          #000000;        // Black

$camelot-color:             #B22222;        // Firebrick
$camelot-contrast:          #FFFFFF;        // White

$littleVillage-color:       #228B22;        // ForestGreen
$littleVillage-contrast:    #FFFFFF;        // White

$voyager-color:             #00BFFF;        // DeepSkyBlue
$voyager-contrast:          #000000;        // Black

$moonlighting-color:        #4B0082;        // Indigo
$moonlighting-contrast:     #FFFFFF;        // White


// Bootstrap overrides
$brand-success:             #00FF7F;                       // SpringGreen
$brand-info:                #4682B4;                       // SteelBlue
$brand-warning:             #FFA500;                       // Orange
$brand-danger:              #DC143C;                       // Crimson
