@inherits UmbracoViewPage
@{
    var homePage = Model.AncestorsOrSelf(1).First();
}

@if (Model.Ancestors().Any())
{
    <ul class="breadcrumb">
        @foreach (var item in Model.Ancestors().OrderBy(c => c.Level))
        {
            if (item.Id != homePage.Id)
            {
                <li><a href="@item.Url()">@item.Name</a> <span class="divider">/</span></li>
            }
        }
    </ul>
    <span class="sel">@Model.Name</span>

}
