@using Articulate
@using Articulate.Models
@inherits UmbracoViewPage<ListModel>
@{
    Layout = "_Master.cshtml";
}
<div class="row">
  <div class="col-md-8">
      @Html.ThemedPartial(Model, "Recent")
  </div>

  <div class="col-md-4">
    @Html.ThemedPartial(Model, "Categories")
  </div>
</div>
